.logo {
  width: 120px;
  height: 28px;
  background: url('/images/icon/logo.svg') no-repeat center;
  background-size: contain;
}

.button_arrow {
  width: 24px;
  height: 24px;
  background: url('/images/icon/button_arrow.svg') no-repeat center;
  background-size: contain;
}

.ico_locate {
  mask: url('/images/icon/ico_locate.svg') no-repeat center;
  width: 12px;
  height: 12px;
  background-size: contain;
}

.ico_cart {
  mask: url('/images/icon/ico_cart.svg') no-repeat center;
  width: 18px;
  height: 18px;
  mask-size: contain;
}

.ico_heart {
  mask: url('/images/icon/ico_heart.svg') no-repeat center;
  width: 12px;
  height: 12px;
  mask-size: contain;
}

.ico_people {
  mask: url('/images/icon/ico_people.svg') no-repeat center;
  width: 18px;
  height: 18px;
  mask-size: contain;
}
